<!-- list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
    <h2>Customer List</h2>
    
    <!-- Tüm tabloyu güncelleyecek şekilde ayarlarız -->
    <div id="customer-list">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Pin</th>
                <th>Phone</th>
                <th>Delete</th>
            </tr>
            {% include 'table_rows.html' %}
        </table>
    </div>
</body>
</html>
