<!-- list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
    <h2>Customer List</h2>

    <!-- Arama Formu -->
    <form action="{{ url_for('search_customer') }}" method="get">
        <input type="text" name="search" placeholder="Search by name">
        <button type="submit">Search</button>
    </form>
    
    <!-- Müşteri Listesi Tablosu -->
    <table border="1" id="customer-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Pin</th>
                <th>Phone</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody id="customer-tbody" hx-swap="innerHTML" hx-target="#customer-tbody">
            {% include "table_rows.html" %}
        </tbody>
    </table>
</body>
</html>
